/* Login Page */

body{
     background-size: cover !important;
    background: url(../images/bg.jpg) no-repeat center center fixed
}
.container-fluid{
	padding: 60px;
}

.register-page{
	width: 100%;
}

.register-card {
    border-radius: 10px !important;
    position: relative !important;
    display: block !important;
    margin-top: 40px;
}

.auth-box {
    background-color: #fff;
    border-radius: 8px;
    margin: 20px 0 0 0;
    padding: 20px;
}

.register-card h3 {
    color: #666666;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px !important;
}

.btn-primary {
    background-color: #212529 !important;
    border-color: #212529 !important;
    color: #fff !important;
    cursor: pointer;
    transition: all ease-in 0.3s;
}

.btn-primary:hover{
    color: #212529;
    background-color: #fff; 
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px;
}
/* Login Page */

@media only screen and (max-width: 360px) {
    .login-card{
        min-width: 0px !important;
    }

    .forgot_password{
        text-align: left !important;
        margin-left: -13px !important;
    }

    .container-fluid{
        padding: 15px !important;
    }


}

@media only screen and (max-width: 414px) {
    .register-card{
        min-width: 0px !important;
    }

    .forgot_password{
        text-align: left !important;
        margin-left: -13px !important;
    }

    .container-fluid{
        padding: 15px !important;
    }


}