.sidenav {
    width: 230px;
    position: fixed;
    z-index: 1;
    background: #1abc9c;
    overflow-x: hidden;
    margin-top: 40px;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 45px;
}

.sidenav a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    display: block;
}

.sidenav_link{
    color: black !important;
}

.sidenav_link:hover {
    color: white !important;
    background: #1abc9c !important;
}

.main {
    margin-left: 340px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 10px;}
}